<?xml version="1.0" encoding="utf-8"?>

<launch>
    <!-- <env name="ROS_MASTER_URI" value="http://192.168.1.112:11311" />
    <env name="ROS_IP" value="192.168.1.112" />
    <env name="ROS_HOSTNAME" value="192.168.1.112" />

	<env name="ROSLAUNCH_SSH_UNKNOWN" value="1" />
	-->	
	<env name="GSCAM_CONFIG" value="v4l2src device=/dev/video0 ! video/x-raw-yuv,framerate=30/1,width=640,height=480 ! ffmpegcolorspace " /> 
	
	<machine name="ab1_machine" address="192.168.1.112" user="abhishekb"/>
	<machine name="harp_machine" address="192.168.1.128" user="harp" env-loader="/home/harp/catkin_ws/devel/env2.sh" />

	<node machine="ab1_machine" name="gscam" pkg="gscam" type="gscam" />
	<!-- <node machine="harp_machine" name="image_view" pkg="image_view" type = "image_view" args="image:=/camera/image_raw" /> -->
	<node name="image_view" pkg="image_view" type = "image_view" args = "image:=/camera/image_raw" />
	<node machine="harp_machine" name="image_converter" pkg="ros_assignment" type ="image_converter" />
	<node machine="harp_machine" name="harp_image_view" pkg="image_view" type = "image_view" args = "image:=/camera/image_raw">
	</node>
	<node machine="ab1_machine" name="ab1_image_view" pkg="image_view" type = "image_view" args = "image:=/apb_flipped">
		<!-- <remap from="image" to="/apb_flipped" /> -->
	</node>

</launch>
